*{
    font-family: 'Rubik', sans-serif;
    
}
#parent {
    position:relative;
    width: 100vw; 
    height: 100vh; 
    
}

#chart-container{
    position:relative;
    background-color: #ffff;
    left: -1%;
    top:6%;
    width: 750px;
    height: 750px;
    /*border:2px solid #022b14;*/
    border:none;
    /*border-radius: 5%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/ /*How far left or rights the shadow is offset, "" up/down, blur/how far out shadow expands, spread:*/
}

/*End of Graph Container styling*/

#rhs{
    position:relative;
    width: 600px;
    height: 690px;
    top:4%;
    left: 55%;
    
    
    /*border:2px solid #022b14;*/

}


.dropdown{
    min-width: 10em;
    position:absolute;
    left:5%;
    top:5%;
    width:530px;
    
    
}

.dropdown * {
    box-sizing:border-box;
}

.select{
    top:15%;
    background:#ffff;
    color:#022b14;
    display:flex;
    justify-content:space-between;
    align-items: center;
    /*border: 2px #022b14 solid;*/
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.select-clicked{
    /*border: 2px black solid;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.select:hover {
    background: #ffff;
}

.caret{
    width:0;
    height:0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #ffff;
    transition:0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding:0.2em 0.5em;
    background: #ffff;
    /*border: 1px #022b14 solid;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #022b14;
    position:absolute;
    top: 3em; 
    left: 50%;
    width:100%;
    transform: translate(-50%);
    opacity: 0;
    display:none;
    transition:0.2s;
    z-index:1;
}
.menu li {
    padding: 0.7em 0.5em;
    margin:0.3em 0;
    border-radius:0.5em;
    cursor:pointer;
}

.menu li:hover{
    background: hsla(0, 0%, 100%, 0.055);
}

.active {
    background: rgba(255, 255, 255, 0.199);
}
.menu-open{
    display:block;
    opacity:1;
}










#footnote{
    
    position: absolute;
    margin-top: 50%;
    margin-left: 63%;
    color: rgb(235, 231, 231);

  

}

#epoch_label{
    position: absolute;
    top:90%;
    left:5%; 
}

#equation-container{
    
    position:absolute;
    top: 35%;
    left: 5%;
    width: 295px;
    height: 150px;
    background-color: #ffff;  /**/
    /*border:2px solid #022b14;*/
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /*How far left or rights the shadow is offset, "" up/down, blur/how far out shadow expands, spread:*/
    border-radius: 10%;
    text-decoration: none;/*Makes innertext follow css styling*/
    text-align: center;
    
    /*line-height: 150px;*/
    
    
   
   
    
}

#equation_label{
    display: block;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


}
#equation{
    display: block;
    position: relative;
    top: 30%;
    font-size: large;
   ;
 
}
    


#cost-container{
    position:absolute;
    top: 35%;
    left: 68%;
    width: 150px;
    height: 150px;
    background-color: #ffff;
    /*border:2px solid #022b14;*/
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10%;
    text-decoration: none;/*Makes innertext follow css styling*/
    text-align: center;
    
}
#cost_label{
    display: block;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
    
}
#cost{
    display: block;
    position:relative;
    top:30%;
    font-size: large;
    
   
}

/* RANGE SLIDER */


.slider{
    width:560px;
    height:100px;
    
    position: absolute;
    top:75%;
    left:5%; 
    /*border:2px solid #022b14;*/
   
}

/* Positions div for floating value above slider */
.slider .show-value{
    position:relative;
    width:100%;
    height:50px;
   
   
    
    
    
}
/*Style value above slider*/ 
.slider .show-value span {
    position: absolute;
    width:40px; /*Bckgrnd size*/
    height:40px;
    /*background:#557181; ; /*Colour of text's bckgrd */
    color:rgb(0, 0, 0); /*Colour of text*/
    /*border:2px solid #022b14;*/
    text-align:center;
    line-height:40px;
    border-radius:0%; /*Square to circle bckgrnd*/
    /*Q1*/
    left:50%;
    transform:translateX(-50%) scale(0);
    transform-origin:bottom;
    transition: transform 300ms ease-in-out;
   
}


.slider .show-value span.active{
    transform:translateX(-50%) scale(1);

}


/*Styles the slider bar */
.slider input[type="range"]{
    -webkit-appearance: none;
    width:100%;
    height:2px;
    color:rgb(245, 244, 244); /*Colour of text*/
    text-align:center;
    background:#022b14;
    border-radius:50%;
    outline:none;
    border:none; 
}

/*Styles the slider thumb*/
.slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:25px;
    height:35px;
    background: #86b1ca; 
    border-radius:20%;
    cursor:pointer;
    
}
/*Min max divs*/
.slider .range {
    margin-top:15px; /* 15 px relative to parent?*/
    position:relative;

}
.slider .range div{
    position: absolute; /*Share same y coord*/
    color: #022b14;
    font-weight: 600;
    
}

.slider .range div:nth-child(2){
    right:-2%;
}

