*{
    font-family: 'Rubik', sans-serif;
    
}
#parent {
    position:relative;
    width: 100vw; 
    height: 100vh; 
    
}

#chart-container{
    position:absolute;
    background-color: #ffff;
    left: 2%;
    top:4%;
    width: 700px;
    height: 700px;
    border:2px solid #022b14;
    border:none;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /*How far left or rights the shadow is offset, "" up/down, blur/how far out shadow expands, spread:*/
    


}

#rhs{
    position:relative;
    width: 600px;
    height: 700px;
    top:4%;
    left: 55%;
    border:2px solid #022b14;

}


#equation-container{
    
    position:absolute;
    top: 20%;
    left: 5%;
    width: 295px;
    height: 150px;
    background-color: #ffff;  /**/
    /*border:2px solid #022b14;*/
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /*How far left or rights the shadow is offset, "" up/down, blur/how far out shadow expands, spread:*/
    border-radius: 10%;
    text-decoration: none;/*Makes innertext follow css styling*/
    text-align: center;
    line-height: 150px;
    
   
   
    
}

#cost-container{
    position:absolute;
    top: 20%;
    left: 68%;
    width: 150px;
    height: 150px;
    background-color: #ffff;
    /*border:2px solid #022b14;*/
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10%;
    text-decoration: none;/*Makes innertext follow css styling*/
    text-align: center;
    line-height: 150px;
}


/* RANGE SLIDER */

.center{
    position:absolute;
    top:65%;
    left:5%; 
}

.slider{
    width:560px;
    height:100px;
    border:2px solid #022b14;
   
}

/* Positions div for floating value above slider */
.slider .show-value{
    position:relative;
    width:100%;
    height:50px;
   
   
    
    
    
}
/*Style value above slider*/ 
.slider .show-value span {
    position: absolute;
    width:40px; /*Bckgrnd size*/
    height:40px;
    background:#5c8065; /*Colour of text's bckgrd */
    color:rgb(245, 244, 244); /*Colour of text*/
    text-align:center;
    line-height:40px;
    border-radius:0%; /*Square to circle bckgrnd*/
    /*Q1*/
    left:50%;
    transform:translateX(-50%) scale(0);
    transform-origin:bottom;
    transition: transform 300ms ease-in-out;
   
}


.slider .show-value span.active{
    transform:translateX(-50%) scale(1);

}


/*Styles the slider bar */
.slider input[type="range"]{
    -webkit-appearance: none;
    width:100%;
    height:2px;
    background:#022b14;
    border-radius:50%;
    outline:none;
    border:none; 
}

/*Styles the slider thumb*/
.slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:#5c8065;
    border-radius:50%;
    cursor:pointer;
    
}
/*Min max divs*/
.slider .range {
    margin-top:15px; /* 15 px relative to parent?*/
    position:relative;

}
.slider .range div{
    position: absolute; /*Share same y coord*/
    color: #022b14;
    font-weight: 600;
    
}

.slider .range div:nth-child(2){
    right:-2%;
}
